.icon {
    border: 1px solid black;
    border-radius: 80px;
    background-color:red;
    height: 40px;
    width: 50px;
    padding-right: 0px;
    margin-right: 10px;
    align-items: center;
   
}

.word {
    color: whitesmoke;
    font-size: 25px;
}