.pop-up-box {
  
    border-radius: 10px;
    background-color: white;
    height: 60px;
    position: absolute;
    top: 10%;
    left:130px;
    display: flex;
    width:80%;
    align-items: center;
    justify-content: space-between;
    box-shadow: -8px 7px 20px 10px rgba(0,0,0,0.4);
}

.pop-up-button {
    background-color: whitesmoke;
    margin-left: 10px;
    border-radius: 10px;
    height:30px;
    width: 160px;
    font-weight: 600;
    transition: 1s;
    align-items: center;
}
.pop-up-button:hover {
    background-color: green;
   
}
.google-icon {
    width: 15px;
    align-items: flex-start;
    margin-right: 15px;
    object-fit: contain;
    
   
}
.google {
    width: 200px !important;
    
    
}

.figma-img {
    width: 27px;
    padding-left: 20px;
}